# -----------------------------
# Node modules
# -----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# Environment variables
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Logs
# -----------------------------
logs
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build / production
# -----------------------------
dist/
build/
.next/
out/

# -----------------------------
# Coverage
# -----------------------------
coverage/

# -----------------------------
# Editor folders
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp
.cache/

# -----------------------------
# Optional: uploads (agar multer use kar rahe ho)
# -----------------------------
uploads/